<%= render "shared/menu" %>
<div class="bgpic">
<body>

<div class="container-fluid">


	<div class="jumbotron">
	
	  <h1>TRVSHIO</h1>
	  
	  <p class="lead">
	  	Long Live Mother Earth
	  </p>

	  <p>
	  	<%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> 
	  </p>


	</div>

	<div class="row">
		<div class="col-md-6">
		  <h2>
		  	What is trashio?
		  </h2>

		  <p>
		  	Do you recycle? If so, why not get the best bang for your buck? If not, lets start getting greener with this easy to use recycling app! Whether at home or on the go, keep your household eco friendly and grow your bank account along with mother Earth's life span!
		  </p>
			
		</div>	

	   
	</div>
	
</div>

</body>

</div>